.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* vertical animation */

@-webkit-keyframes bounce {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}

@keyframes bounce {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}

.bounce {
  animation-name: bounce;
}


@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
     opacity: 1;
     transform: none;
   }
  100% {
     opacity: 1;
     -webkit-transform: none;
  }
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}



@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

