@media only screen and (max-width: 767px) {
  .header-container {
    .container {
      .left {
        img {
          width: 170px !important;
        }
      }
    }
  }
  .sign-up-modal {
    top: 100px !important;
    transform: none !important;
    .modal-content {
      .modal-body {
        .sign-up-form {
          button {
            margin-top: 10px;
          }
          input {
            min-width: 200px !important;
          }
        }
      }
    }
  }
  .main-slide-container {
    height: 667px !important;
    .container {
      .slide-detail {
        display: block;
        position: relative !important;
        .facility {
          text-align: left;
          width: auto;
          padding-left: 15px;
          h2 {
            font-size: 26px !important;
          }
        }
      }
    }
  }

  #contact-us-container {
    .container {
      text-align: center;
      padding-top: 40px !important;
      .mark {
        margin-left: auto;
        margin-right: auto;
      }
      label {
        float: left;
      }
      button {
        margin-top: 15px !important;
        width: 100% !important;
        float: none !important;
      }
      .help-block {
        float: left;
      }
    }
  }
  .footer-container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .container {
      div {
        margin-bottom: 15px;
      }
      img {
        margin: auto;
        max-width: 320px;
      }
      .pages {
        text-align: center !important;
        font-size: 18px !important;
      }
      .version {
        .play {
          margin-bottom: 15px !important;
        }
        img {
          width: 110px !important;
          height: 35px !important;
        }
      }
    }
  }
  .testimonial-container {
    .container {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
      h2 {
        font-size: 31px !important;
      }
      .text-container {
        .top-navi {
          p {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
          }
        }
        p {
          font-size: 18px !important;
        }
      }
    }
  }
  .captcha {
    max-width: 300px;
    div {
      margin-bottom: 0 !important;
    }
  }
  .signup-popover, .contact-popover {
    min-width: 310px !important;
    .popover-content {
      padding: 2px !important;
    }
    .arrow {
      border-top-color: $white !important;
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .footer-container {
    .container {
      .version {
        img {
          width: 100px !important;
          height: 30px !important;
        }
      }
    }
  }
  .main-slide-container {
    .facility {
      padding-top: 0 !important;
      padding-left: 40px !important;
    }
    .hero-image {
      padding-left: 20px !important;
    }
  }
  .testimonial-container {
    .container {
      .text-container {
        .top-navi {
          p {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .footer-container {
    .container {
      .version {
        img {
          width: 100px !important;
          height: 30px !important;
        }
      }
    }
  }
  .container {
    .text-container {
      .top-navi {
        p {
          max-width: 900px;
          margin-left: auto;
          margin-right: auto;
          padding: 0;
        }
      }
    }
  }
}


@media only screen and (min-width: 1240px) {
  .main-slide-container {
    height: 100vh;
    .container {
      .slide-detail {
        min-height: 70vh !important;
      }
    }
  }
}
