
@mixin mark() {
  background-color: $light_blue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 3px;
  width: 251px;
  font-size: 0;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

// Icon
@mixin getIcons($path) {
  background-image: url('~/assets/'+$path);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
