
// Colors
$black: #151515;
$black_smooth: #1B1B1B;
$header_border: #000000;
$whit_blue: #d3e1f1;
$light_blue: #418BCA;
$light_grey: #CBCBCB;
$dark_grey: #C5C5C5;
$text_black: #2A2A2A;
$white: #FFFFFF;
$grey_bg_cl_light: #F4F5F7;
$grey_text: #767676;
$greyA: #AAAAAA;
$grey_border: #EEEEEE;
$grey_bg_cl: #F8F8F8;
$light_green: #6DA950;
$purple: #7380c6;
$error : #e77470;

//Modal
$modal_backdrop: #C5C5C5;