#contact-us-container {
  background-color: $grey_bg_cl_light;
  min-height: 550px;
  position: relative;
  .container {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 760px;
    h2 {
      color: $black;
      font-family: Montserrat, Bold;
      font-size: 32px;
      font-weight: 600;
      margin-top: 9px;
      text-align: center;
    }
    .contact-us-form {
      label {
        color: $text_black;
        font-family: Open Sans Semibold;
        font-size: 16px;
        line-height: 24px;
        font-weight: inherit;
        span {
          font-family: Open Sans Semibold;
          color: $greyA;
          margin-left: 2px;
        }
      }
      .help-block {
        position: absolute;
        font-size: 10px;
        margin-top: 1px;
        color: $error !important;
      }
      input,textarea {
        color: $text_black;
        font-size: 16px;
        font-family: Open Sans, Semibold;
        border: 2px solid $grey_border;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        box-shadow: none;
        line-height: 24px;
        &::-webkit-input-placeholder {
          font-family: Open Sans, Regular;
          opacity: .4 !important;
        }
        &:-moz-placeholder {
          font-family: Open Sans, Regular;
          opacity: .4 !important;
        }
        &::-moz-placeholder {
          font-family: Open Sans, Regular;
          opacity: .4 !important;
        }
        &:-ms-input-placeholder {
          font-family: Open Sans, Regular;
          opacity: .4 !important;
        }
      }
      input {
        height: 46px;
      }
      textarea {
        height: 128px;
      }
      button {
        margin-top: 15px;
        background-color: $purple;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        color: $white;
        font-family: Montserrat, Bold;
        font-weight: 600;
        font-size: 14px;
        line-height:  24px;
        height: 44px;
        width: 138px;
        float: right;
        border: none;
      }
      .subscribe {
        .checkbox {
          & input[type="checkbox"]:not(:checked),
          & input[type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
          }
          input[type="checkbox"]:not(:checked) + label,
          input[type="checkbox"]:checked + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
          }

          & input[type="checkbox"]:not(:checked)+label:before,
          & input[type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 25px;
            height: 25px;
            border: 2px solid $grey_border;
            background: $white;
            border-radius: 4px;
          }
          input[type="checkbox"]:not(:checked)+label:after,
          input[type="checkbox"]:checked + label:after {
            content: '';
            @include getIcons('icons/checkmark.svg');
            height: 13px;
            width: 17px;
            position: absolute;
            top: 5px;
            left: 4px;
            font-size: 16px;
            line-height: 24px;
            transition: all .2s;
          }
          input[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
          }
          input[type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      .has-error {
        label {
          span {
            color: $error;
          }
        }
      }
      .has-error .form-control {
        border-color: $error !important;
      }
    }
  }
}
