
.footer-container {
  background-color: $white;
  font-family: Open Sans, Regular, sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    color: $grey_text;
    height: 126px;
    margin: auto;
    text-align: center;
    .logo {
      max-width: 222px;
    }
    .pages {
      color: $grey_text;
      text-align: left;
      font-size: 14px;
      a,a:hover {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .version {
      p {
        text-align: center;
        font-size: 12px;
        opacity: .8;
      }
      .app {
        padding-left: 0;
        text-align: right;
        padding-right: 5px;
      }
      .play {
        padding-left: 5px;
        text-align: left;
        margin-bottom: 54px;
      }
      img {
        width: 147px;
        height: 44px;
      }
    }
  }
}