
.header-container {
  background-color: $white;
  height: 88px;
  position: fixed;
  width: 100%;
  z-index: 100000;
  font-family: Montserrat, SemiBold, sans-serif;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  .container {
    margin-top: 20px;
    .left,.right {
      margin-top: auto;
      margin-bottom: auto;
    }
    .left {
      padding-left: 0;
      img {
        width: 170px;
      }
    }
    .right {
      padding-right: 0;
      text-align: right;
      a, a:hover, a:active {
        margin-right: 59px;
        text-decoration: none;
        color: $light_blue;
        cursor: pointer;
        font-size: 16px;
        font-family: Montserrat, SemiBold;
      }
    };
    button {
      font-family: Montserrat, SemiBold;
      font-size: 16px;
      color: $white !important;
      background-color: $light_green !important;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      border: none;
      width: 160px;
      height: 48px;
    }
    .menu_button {
      width: 24px;
      height: 18px;
      right: 0;
      position: absolute;
      margin-top: 13px;
      margin-right: 0 !important;
    }
    .mobile_menu {
      display: none;
      position: fixed;
      background-color: $white;
      width: 100%;
      height: 100%;
      z-index: 100;
      margin-top: -15px;
      margin-left: -15px;
      overflow: hidden;
      text-align: center;
      opacity: .98;
      .close-menu {
        width: 20px;
        height: 20px;
        float: right;
        margin-right: 27px;
        margin-top: 25px;
        cursor: pointer;
      }
      .link {
        margin-bottom: 30px;
        margin-top: 28vh;
      }
      a, a:hover, a:active {
        text-decoration: none;
        cursor: pointer;
        color: $light_blue;
        font-size: 16px;
        font-family: Montserrat, SemiBold;
      }
      button {
        font-family: Montserrat, SemiBold;
      }
    }
    .open {
      display: block;
      animation: fadeIn 1s;
    }
  }
}
