.main-slide-container {
    display: grid;
    margin-top: 88px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $purple;
    overflow: hidden;
    .main-slide-alert {
        position: absolute;
    }
    .alert-container {
        top: 96px;
        div {
            font-family: inherit;
            font-size: 15px;
        }
    }
    .slide-detail {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
        width: 100%;
    }
    .facility {
        padding-left: 80px;
        padding-top: 65PX;
        h2 {
            margin: 0;
            color: $white;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            font-family: Montserrat, Bold;
        }
        p {
            font-size: 18px;
            color: $white;
            margin-top: 30px;
            margin-bottom: 70px;
            line-height: 32px;
        }
        a  {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            border: 2px solid rgba(255, 255, 255, 0.4);
            background-color: $purple;
            color: $white;
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
            margin-top: 10px;
            width: 185px;
            height: 48px;
            display: block;
            font-family: Montserrat, SemiBold;
            i {
                margin-right: 5px;
            }
        }
    }
    .image {
        //@include getIcons('desktop_hero_image.png');
        //height: 300px;
        //max-width: 300px;
        //z-index: 100;
        //background-position: center right !important;
        //background-size: contain !important;
        padding-right: 0;
        float: right;
        text-align: right;
    }
    .hero-image {
        height: 258px;
        position: relative;
        margin-top: 30px;
        padding-left: 32px;
    }
    .mobile-image {
        display: flex;
        z-index: 10;
        position: absolute;
        @include getIcons('desktop_hero_image2x.png');
        background-size: contain;
        background-position: center left;
        width: 100%;
        height: 90%;
        flex: 1;
    }
    .scroll-down-container {
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        float: right;

        .scroll-down {
            display: inline-block;
            font-family: "montserrat-medium", sans-serif;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $white !important;
            background: transparent;
            position: relative;
            text-decoration: none;
            top: 36px;
            right: 42px;
            font-weight: 600;
            cursor: pointer;
            &:visited,&:hover {
                color: $light_blue;
            }

            .glyphicon {
                left: 5px;
            }
        }
    }
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    video {
        position:absolute;
        z-index:0;
    }
    video.fillWidth {
        width: 100%;
        opacity: .4;
        height: 100%;
        min-height: 105vh;
        object-fit: cover;
        left: 50%;
        top: 50%;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
}
