.modal.in .modal-dialog {
     top: 50%;
     transform: translateY(-50%);
}

.sign-up-modal {
     .modal-content {
          border: none;
          border-radius: 0;
          text-align: center;
          min-height: 404px;
          min-width: 300px;
          @include getIcons('sign_up_pattern.jpg');
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $light_blue;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $light_blue;
          .modal-header {
               padding: 0;
               border: none;
               .close {
                    margin: 8px 10px;
               }
               .modal-title {
                    margin-top: 118px;
                    font-family: Montserrat, Bold;
                    line-height: 32px;
                    font-size: 40px;
                    font-weight: 600;
                    color: $text_black;
               }
          }
          .modal-body {
               h4, label {
                    color: $grey_text;
                    font-size: 18px;
                    line-height: 24px;
                    font-family: Open Sans, Regular;

               }
               .sign-up-form {
                    margin-top: 30px;
                    .form-group {
                       padding: 0 10px 0 10px;
                    }
                    font-family: Open Sans, Regular;
                    input {
                         font-family: Open Sans, Regular;
                         font-size: 16px;
                         color: $black;
                         border: 1px solid $light_blue !important;
                         -webkit-border-radius: 6px;
                         -moz-border-radius: 6px;
                         -ms-border-radius: 6px;
                         border-radius: 6px;
                         min-width: 350px;
                         height: 48px;
                         line-height: 24px;
                         &::-webkit-input-placeholder {
                              color: $light_grey;
                         }
                         &:-moz-placeholder {
                              color: $light_grey;
                         }
                         &::-moz-placeholder {
                              color: $light_grey;
                         }
                         &:-ms-input-placeholder {
                              color: $light_grey;
                         }
                    }
                    .help-block {
                         position: absolute;
                         font-size: 10px;
                         color: $error !important;
                    }
                    button {
                         color: $white;
                         height: 48px;
                         font-family: Montserrat, Bold;
                         font-size: 16px;
                         font-weight: 600;
                         line-height: 24px;
                         background-color: $light_blue;
                         -webkit-border-radius: 6px;
                         -moz-border-radius: 6px;
                         -ms-border-radius: 6px;
                         border-radius: 6px;
                         width: 160px;
                         border: none;
                    }
                    .has-error .form-control {
                         border-color: $error !important;
                    }
                    .checkbox-sign-up {
                         margin: 14px;
                         cursor: pointer;
                         & input[type="checkbox"]:hover {
                           cursor: pointer;
                         }
                         & input[type="checkbox"]:not(:checked),
                         & input[type="checkbox"]:checked {
                              position: absolute;
                              opacity: 0;
                              width: 25px;
                              height: 25px;
                              z-index: 2000;
                         }
                         input[type="checkbox"]:not(:checked) + label,
                         input[type="checkbox"]:checked + label {
                              position: relative;
                              padding-left: 35px;
                         }

                         & input[type="checkbox"]:not(:checked)+label:before,
                         & input[type="checkbox"]:checked + label:before {
                              content: '';
                              position: absolute;
                              left: 0; top: 0;
                              width: 25px;
                              height: 25px;
                              border: 2px solid $grey_border;
                              background: $white;
                              border-radius: 4px;
                         }
                         input[type="checkbox"]:not(:checked)+label:after,
                         input[type="checkbox"]:checked + label:after {
                              content: '';
                              @include getIcons('icons/checkmark.svg');
                              height: 13px;
                              width: 17px;
                              position: absolute;
                              top: 5px;
                              left: 4px;
                              font-size: 16px;
                              line-height: 24px;
                              transition: all .2s;
                         }
                         input[type="checkbox"]:not(:checked) + label:after {
                              opacity: 0;
                              transform: scale(0);
                         }
                         input[type="checkbox"]:checked + label:after {
                              opacity: 1;
                              transform: scale(1);
                         }
                         label {
                              font-weight: normal;
                              font-size: 12px;
                         }
                    }
               }
          }
     }

}
