
.testimonial-container {
  background-color: $white;
  .container {
    padding-top: 121px;
    padding-bottom: 121px;
    text-align: center;
    h2 {
      font-family: Montserrat, Bold;
      font-size: 40px;
      font-weight: 600;
      margin-top: 9px;
    }
    .text-container {
      margin-top: 50px;
      img {
        height: 48px;
        width: 48px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        object-fit: cover;
      }
      .top-navi {
        margin: 37px auto 37px auto;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        .left,.right {
          width: 18px;
          height: 28px;
          cursor: pointer;
          @include getIcons('/icons/arrow.png');
          background-size: contain;
          margin-bottom: auto;
          margin-top: auto;
        }
        .left {
          -ms-transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
        p {
          min-width: 86%;
        }
      }
      h3,h4 {
        font-family: Open Sans, Regular;
        margin-top: 13px;
        color: $text_black;
        font-size:  14px;
        font-weight: 600;
        margin-bottom: 0;
      }
      h4 {
        padding-top: 2px;
        margin-top: 2px;
        color: $light_grey;
      }
      p {
        color: $text_black;
        font-size: 26px;
        margin-left: 50px;
        margin-right: 50px;
        line-height: 42px;
      }
      .quotation {
        margin: 29px auto 10px auto;
        height: 15px;
        width: 20px;
        color: #cbcbcb;
        @include getIcons('quotattion.png');
      }
    }
    .navigation {
      display: inline-block;
      margin-top: 37px;
      ul {
        padding: 0;
        list-style: none;
        li {
          float: left;
          background-color: $light_grey;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          margin: 2px;
          cursor: pointer;
        }
        .active {
          background-color: $grey_text;
        }
      }
    }
  }
}
