
body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: Open Sans;
}

html {
  overflow-x: hidden;
}

.loading {
  display: block;
  text-align: center;
  img {
    width: 60px;
    height: 60px;
    margin-top: 48vh;
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: $grey_bg_cl;
}
* {
  outline: 0 !important;
}

p {
  font-family: Open Sans, Regular;
}

.signup-popover, .contact-popover {
  background-color: $white !important;
  border: none !important;
  opacity: 1 !important;
  min-width: 334px;
  & .arrow:after {
    border-top-color: $white !important;
  }
  &.top.arrow {
    border-top-color: $white !important;
  }
  &.left>.arrow {
    border-left-color: $white !important;
  }
}

.captcha {
  div {
    float: left;
    overflow: hidden;
  }
}