
.modal-backdrop {
  opacity: .7 !important;
  background-color: $modal_backdrop;
}

/// Form validation

.has-error .form-control {
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset !important;
  border-color: rgb(169, 68, 66) !important;
}